/*PAGINA AUTENTIFICARE*/
.container-autentificare {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}
.card-autentificare{
    margin-top: -30px;
}
.button-login {
    width: 100%;
    background-color: #3f7bff;
    color: white;
    border: none;
}
    .button-login:hover {
        background-color: #79a3ff;
        border: none;
        color: white;
    }
.container-section {
    background-color: #79a3ff !important;
}
.img-autentificare{
    padding: 50px;
}
.logo{
    width: 70px;
    margin-right: 20px;
}

/*---------------------*/
/*PAGINA ACASA - ADMINISTRATOR*/

.container-acasa {
    color: #3f7bff;
    padding: 35px 0px;
}

    .container-acasa .nav-tabs .nav-link.active {
        color: white;
        background-color: #3f7bff;
        border: none;
    }
    .container-acasa .nav-tabs .nav-link {
        color: #3f7bff;
        border-color: #3f7bff;
        border-bottom:none;
        margin-bottom:-2px;
    }

    .container-acasa .nav-tabs {
        border-bottom: 2px solid #3f7bff;
    }

    .titlu-acasa {
        margin-bottom:25px;
    }

.button-stergere-pacient {
    width: 35%;
    background-color: #263238;
}

   

    .titlu-tab {
        margin-bottom: 15px;
    }

.container-acasa .table-striped > tbody > tr:nth-of-type(odd) {
    --bs-table-accent-bg: #ecf2ff;
    color: #263238;
}

#tabel-pacienti {
  
    color: #263238;
   
}
    #tabel-pacienti th {
        border:none;
    }

/*---------------------*/

/*
    MODAL ADAUGARE CONT
*/

.container-acasa .modal-content {
    padding: 5px;
}
 #adaugare-medic, #adaugare-ingrijitor, #adaugare-supraveghetor {
    display:none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/*----------------------*/
