/*PAGINA AUTENTIFICARE*/
.container-autentificare {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}
.card-autentificare{
    margin-top: -30px;
}
.button-login {
    width: 100%;
    background-color: #3f7bff;
    color: white;
    border: none;
}
    .button-login:hover {
        background-color: #79a3ff;
        border: none;
        color: white;
    }
.container-section {
    background-color: #79a3ff !important;
}
.img-autentificare{
    padding: 50px;
}
.logo{
    width: 70px;
    margin-right: 20px;
}

/*---------------------*/
/*PAGINA ACASA - ADMINISTRATOR*/

.container-acasa {
    color: #3f7bff;
    padding: 35px 0px;
}

    .container-acasa .nav-tabs .nav-link.active {
        color: white;
        background-color: #3f7bff;
        border: none;
    }
    .container-acasa .nav-tabs .nav-link {
        color: #3f7bff;
        border-color: #3f7bff;
        border-bottom:none;
        margin-bottom:-2px;
    }

    .container-acasa .nav-tabs {
        border-bottom: 2px solid #3f7bff;
    }

    .titlu-acasa {
        margin-bottom:25px;
    }

.button-stergere-pacient {
    width: 35%;
    background-color: #263238;
}

   

    .titlu-tab {
        margin-bottom: 15px;
    }

.container-acasa .table-striped > tbody > tr:nth-of-type(odd) {
    --bs-table-accent-bg: #ecf2ff;
    color: #263238;
}

#tabel-pacienti {
  
    color: #263238;
   
}
    #tabel-pacienti th {
        border:none;
    }

/*---------------------*/

/*
    MODAL ADAUGARE CONT
*/

.container-acasa .modal-content {
    padding: 5px;
}
 #adaugare-medic, #adaugare-ingrijitor, #adaugare-supraveghetor {
    display:none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/*----------------------*/


/*
    ACASA MEDIC

*/
.linie_listaPacienti {
    background-color: #3f7bff;
    padding: 10px;
}
.imagine_sortare{
    width: 15%;
}
.button_home{
    border: 2px solid white;
    font-size: 15px;
}
.search_pacienti{
    margin-top: 1px;

}
    .search_pacienti input {
        background-color: #3f7bff;
        color: white;
        border: 2px solid white;
        border-right: none;
        border-top-right-radius: 0!important ;
        border-bottom-right-radius: 0!important ;
    }
        .search_pacienti input::placeholder {
            color:white;
        }

.button_search {
    background-color: #3f7bff;
    border: 2px solid white;
    border-radius: .25rem;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 5px 15px 2px;
}
.button_search i{
    color: white;
}
.search_pacienti input:focus {
    background-color: #3f7bff;
    color: white;
    border-color: white;
    outline: 0;
    box-shadow: none;
}
/*-----------------------*/

/*
    ADAUGARE PACIENT MEDIC

*/
.formular {
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    color: #3f7bff;
}
#container-adaugare-pacienti {
    background: #3f7bff;
    padding: 20px 80px 20px 80px;
}
fieldset {
    border: 2px solid #3f7bff;
    border-radius: 10px;
    padding: 10px;
}
#container-adaugare-pacienti input, #container-adaugare-pacienti textarea {
    border: 2px solid #3f7bff;
}
.butoane_adauga_pacient {
    justify-content: space-evenly!important;
}
    .butoane_adauga_pacient button {
        width: 25%;
    }
.buton-adauga {
    background-color: #1cc88a;
    border: none;
}
.select_box {
    width: 200px;
    overflow: hidden;
    border: 2px solid #3f7bff;
    position: relative;
    padding: 5px 0;
    border-radius: .25rem;
}

    .select_box:after {
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #3f7bff;
        position: absolute;
        top: 40%;
        right: 5px;
        content: "";
        z-index: 98;
    }

    .select_box select {
        width: 220px;
        border: 0;
        position: relative;
        z-index: 99;
        background: none;
    }
.input-group-append {
    cursor: pointer;
}

.buton-accesare-pacient {
    background-color: #F86F15;
    border-color: #F86F15;
    color:white;
}
    .buton-accesare-pacient:hover {
        background-color: #FF9936;
        border-color: #FF9936;
        color: white;
    }

.button_home {
    border: 2px solid white!important;
}
/*-----------------------*/