/*PAGINA AUTENTIFICARE*/
.container-autentificare {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}
.card-autentificare{
    margin-top: -30px;
}
.button-login {
    width: 100%;
    background-color: #3f7bff;
    color: white;
    border: none;
}
    .button-login:hover {
        background-color: #79a3ff;
        border: none;
        color: white;
    }
.container-section {
    background-color: #79a3ff !important;
}
.img-autentificare{
    padding: 50px;
}
.logo{
    width: 70px;
    margin-right: 20px;
}

/*---------------------*/
/*PAGINA ACASA - ADMINISTRATOR*/

.container-acasa {
    color: #3f7bff;
    padding: 35px 0px;
}

    .container-acasa .nav-tabs .nav-link.active {
        color: white;
        background-color: #3f7bff;
        border: none;
    }
    .container-acasa .nav-tabs .nav-link {
        color: #3f7bff;
        border-color: #3f7bff;
        border-bottom:none;
        margin-bottom:-2px;
    }

    .container-acasa .nav-tabs {
        border-bottom: 2px solid #3f7bff;
    }

    .titlu-acasa {
        margin-bottom:25px;
    }

.button-stergere-pacient {
    width: 35%;
    background-color: #263238;
}

   

    .titlu-tab {
        margin-bottom: 15px;
    }

.container-acasa .table-striped > tbody > tr:nth-of-type(odd) {
    --bs-table-accent-bg: #ecf2ff;
    color: #263238;
}

#tabel-pacienti {
  
    color: #263238;
   
}
    #tabel-pacienti th {
        border:none;
    }

.div-buton{
    display:inline;
}
.btn-adauga-verde {
    background-color: #1cc88a;
    color: white;
}
    .btn-adauga-verde:hover {
        color: white;
        background-color: #189964;
    }
    /*---------------------*/
    /*
    MODAL ADAUGARE CONT
*/
    .container-acasa .modal-content {
        padding: 5px;
    }
 #adaugare-ingrijitor, #adaugare-supraveghetor {
    display:none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/*----------------------*/


/*
    ACASA MEDIC

*/
.linie_listaPacienti {
    background-color: #3f7bff;
    padding: 10px;
}
.imagine_sortare{
    width: 15%;
}
.button_home{
    border: 2px solid white;
    font-size: 15px;
}
.search_pacienti{
    margin-top: 1px;

}
    .search_pacienti input {
        background-color: #3f7bff;
        color: white;
        border: 2px solid white;
        border-right: none;
        border-top-right-radius: 0!important ;
        border-bottom-right-radius: 0!important ;
    }
        .search_pacienti input::placeholder {
            color:white;
        }

.button_search {
    background-color: #3f7bff;
    border: 2px solid white;
    border-radius: .25rem;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 5px 15px 2px;
}
.button_search i{
    color: white;
}
.search_pacienti input:focus {
    background-color: #3f7bff;
    color: white;
    border-color: white;
    outline: 0;
    box-shadow: none;
}

#buton_sortare_za{
    display:none;
}
/*-----------------------*/

/*
    ADAUGARE PACIENT MEDIC

*/
.formular {
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    color: #3f7bff;
}
#container-adaugare-pacienti {
    background: #3f7bff;
    padding: 20px 80px 20px 80px;
}
fieldset {
    border: 2px solid #3f7bff;
    border-radius: 10px;
    padding: 10px;
}
#container-adaugare-pacienti input, #container-adaugare-pacienti textarea {
    border: 2px solid #3f7bff;
}
.butoane_adauga_pacient {
    justify-content: space-evenly!important;
}
    .butoane_adauga_pacient button {
        width: 25%;
    }
.buton-adauga {
    background-color: #1cc88a;
    border: none;
}
.select_box {
    width: 200px;
    overflow: hidden;
    border: 2px solid #3f7bff;
    position: relative;
    padding: 5px 0;
    border-radius: .25rem;
}

    .select_box:after {
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #3f7bff;
        position: absolute;
        top: 40%;
        right: 5px;
        content: "";
        z-index: 98;
    }

    .select_box select {
        width: 220px;
        border: 0;
        position: relative;
        z-index: 99;
        background: none;
    }
.input-group-append {
    cursor: pointer;
}

.buton-accesare-pacient {
    background-color: #F86F15;
    border-color: #F86F15;
    color:white;
}
    .buton-accesare-pacient:hover {
        background-color: #FF9936;
        border-color: #FF9936;
        color: white;
    }

.button_home {
    border: 2px solid white!important;
}
/*-----------------------*/


/*
    ACCESARE PACIENT
*/
.butoane_accesare_pacient {
    flex-direction: column;
}
.buton-accesare {
    margin-bottom: 15px;
    font-size: 25px;
    width: 35%!important;
    padding: 15px;
}
.formular-accesare {
    padding: 0px 30px 30px 30px!important;
}
.titlu-accesare{
    margin-top: 30px;
}
.formular-accesare .div-buton{
    margin-top: 30px;
}
.div-logo{
    margin-top: 10px;
}
#buton_editare{
    color: white;
}

#buton_salvare {
    display:none;
}
#accesare_consultatie {
    background-color: #3f7bff;
    color:white;
}

#arhivare_consultatie {
    background-color: #bb2d3b;
    color: white;
}
/*----------------------*/

/*---------Recomandari si interventii-------------*/

#adaugare-interventie{
    display:none;
}

/*---------END Recomandari si interventii-------------*/

/*---------GRAFICE SI RAPOARTE-----------------------*/

.tabs-grafic-raport button{
   width: 100%;
}
.tabs-grafic-raport li {
    padding:0;
}

.tabs-puls-mediu .nav-link.active, .tabs-grafic-raport .nav-link.active {
    color: white;
    background-color: #3f7bff;
    border: 1px solid blue !important;
}
.tabs-puls-mediu .nav-link {
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
}

#grafice, #rapoarte {
    margin-left: -12px;
}

#myCalendarWrapper {
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    border: 2px solid #3f7bff;
}

.card-puls {
    height: auto;
    margin-top: auto;
    margin-bottom: 10px;
    width: 100%;

}
#faraDate .card-puls {
    border: none !important;
    background-color: transparent !important;
}

#faraDate {
    display: none;
    border: 2px solid #3f7bff;
    border-radius: 15px;
}

#dateCards{
    margin-top: 10px;
}
    #dateCards .card {
        border: 2px solid #3f7bff;
        border-radius: 15px;

    }




/*--------------ALARME----------------------------*/

#vizualizare_date_normale {
    margin-bottom: 20px;
    width:50%;
}
#vizualizare_alarme {
    width: 50%;
}
.modal-body-alarme {
    text-align: center;
}

@media (min-width: 576px) {

    .modal-dialog-alarme {
        max-width: 500px;
        margin: 7.75rem auto;
    }
}

.buton-adaugare-valoare-normala {
    text-align:end;
}

.completat {
    color: green;
    display: table;
    margin: 0 auto;
}
.completat-necompletat {
    display: table;
    margin: 0 auto;
}
.necompletat {
    color: red;
    display: table;
    margin: 0 auto;
}

/*-------END ALARME--------------------------------*/