<div class="mb-3">
   <label class="col-form-label">Alergie:</label>
   <textarea type="text" class="form-control" id="input-alergie" name="alergie" onfocusout='validareText(event)'></textarea>
   <span id="eroare-input-alergie" class="text-danger"></span>
</div>
<div class="mb-3">
   <label class="col-form-label">Observații:</label>
   <textarea type="text" class="form-control" id="input-observatii" name="observatii" onfocusout='validareText(event)'></textarea>
   <span id="eroare-input-observatii" class="text-danger"></span>
</div>
<div class="mb-3">
   <label class="col-form-label">Tip:</label>
   <select name="tip" id="tip">
      <option value="Tip I">Tip I</option>
      <option value="Tip II">Tip II</option>
      <option value="Tip III">Tip III</option>
      <option value="Tip IV">Tip IV</option>
   </select>
</div>
