@model Teleasis_website.Models.RecomandareModel
<div class="mb-3">
    <label for="recipient-name" class="col-form-label">Tip recomandare:</label>
    <input type="text" class="form-control" id="input-tip-recomandare" name="tipul_recomandarii"/>
</div>
<div class="mb-3">
    <label for="message-text" class="col-form-label">Durată:</label>
    <input type="text" class="form-control" id="input-durata" name="durata"/>
</div>
<div class="mb-3">
    <label for="message-text" class="col-form-label">Alte indicații:</label>
    <input type="text" class="form-control" id="input-alte-indicatii" name="alte_indicatii"/>
</div>