@model Teleasis_website.Models.ConsultatieModel
<div class="mb-3">
    <label class="col-form-label">Motivul Prezentării:</label>
    <textarea type="text" class="form-control" id="input-motiv-prezentare" name="motiv_prezentare_consultatie" onfocusout='validareText(event)'></textarea>
    <span id="eroare-input-motiv-prezentare" class="text-danger"></span>

</div>
<div class="mb-3">
    <label class="col-form-label">Simptome:</label>
    <textarea type="text" class="form-control" id="input-simptome" name="simptome_consultatie" onfocusout='validareText(event)'></textarea>
    <span id="eroare-input-simptome" class="text-danger"></span>
</div>
<div class="mb-3">
    <label class="col-form-label">Diagnostic:</label>
    <textarea type="text" class="form-control" id="input-diagnostic" name="diagnostic_consultatie" onfocusout='validareText(event)'></textarea>
    <span id="eroare-input-diagnostic" class="text-danger"></span>
</div>
<div class="mb-3">
    <label class="col-form-label">Tratament:</label>
    <textarea type="text" class="form-control" id="input-tratament" name="tratament_consultatie" onfocusout='validareText(event)'></textarea>
    <span id="eroare-input-tratament" class="text-danger"></span>
</div>
<div class="mb-3">
    <label class="col-form-label">Schema de medicatie:</label>
    <textarea type="text" class="form-control" id="input-schema" name="schema_consultatie" onfocusout='validareText(event)'></textarea>
    <span id="eroare-input-schema" class="text-danger"></span>
</div>
<div class="mb-3">
    <label  class="col-form-label">Trimiteri:</label>
    <textarea type="text" class="form-control" id="input-trimitere" name="trimitere_consultatie"></textarea>
</div>
<div class="mb-3">
    <label  class="col-form-label">Rețete generate:</label>
    <textarea class="form-control" type="text" id="input-retete-generate" name="retete_generate_consultatie"></textarea>
</div>
<div class="mb-3">
    <label  class="col-form-label">Data consultație:</label>
    <input class="form-control" type="date" id="input-data-consultatie" name="data_consultatie"/>
</div>