@model Teleasis_website.Models.ValoareNormala
<div class="mb-3">
    <label class="col-form-label">Tipul Alarmei:</label>
     <select name="tip" id="tipuri">
        <option value="puls">Puls</option>
        <option value="temperatura">Temperatură</option>
        <option value="gaz">Gaz</option>
        <option value="umiditate">Umiditate</option>
    </select>
</div>
<div class="mb-3">
    <label class="col-form-label">Valoare Declanșare:</label>
    <input type="text" class="form-control" id="input-valoare-normala" name="valoare"></textarea>
</div>