@model Teleasis_website.Models.ConsultatieModel
<div class="mb-3">
   <label class="col-form-label">Motivul Prezentării:</label>
   <textarea type="text" class="form-control" id="input-motiv-prezentare" name="motiv_prezentare_consultatie" onfocusout='validareText(event)'></textarea>
   <span id="eroare-input-motiv-prezentare" class="text-danger"></span>
</div>
<div class="mb-3">
   <label class="col-form-label">Simptome:</label>
   <textarea type="text" class="form-control" id="input-simptome" name="simptome_consultatie" onfocusout='validareText(event)'></textarea>
   <span id="eroare-input-simptome" class="text-danger"></span>
</div>
<div class="mb-3" >
   <label for="message-text" class="col-form-label">Alegeți diagnosticul:</label>
   <select name="diagnostic_consultatie" id="diagnostic_consultatie" class="diagnostice">
      @foreach(var diagnostic in ViewBag.listaDiagnostice)
      {
      <option value="@(diagnostic)">@(diagnostic.Replace("&nbsp;", " "))</option>
      }      
   </select>
</div>
<div class="mb-3">
   <label class="col-form-label">Tratament:</label>
   <textarea type="text" class="form-control" id="input-tratament" name="tratament_consultatie" onfocusout='validareText(event)'></textarea>
   <span id="eroare-input-tratament" class="text-danger"></span>
</div>
<div class="mb-3">
   <label class="col-form-label">Observații:</label>
   <textarea type="text" class="form-control" id="input-schema" name="schema_consultatie" onfocusout='validareText(event)'></textarea>
   <span id="eroare-input-schema" class="text-danger"></span>
</div>
<div class="mb-3">
   <label  class="col-form-label">Rețete:</label>
   <br />
   <fieldset>
      <label for="message-text" class="col-form-label">Alegeți substanța:</label>
      <select name="substanta_consultatie" id="substanta_consultatie" class="substante">
         @foreach(var substanta in ViewBag.listaSubstante)
         {
         <option value="@(substanta)">@(substanta.Replace("&nbsp;", " "))</option>
         }      
      </select>
      <br />
      <br />
      <label for="message-text" class="col-form-label">Scrieți durata:</label>
      <input id="durata"/>
      <label for="message-text" class="col-form-label">Alegeți perioada:</label>
      <select id="select_saptamana">
         <option value="zile">zile</option>
         <option value="saptamani">săptămâni</option>
         <option value="luni">luni</option>
      </select>
      <br />
      <br />
      <label for="message-text" class="col-form-label">Scrieți cantitatea / administrare:</label>
      <input id="cantitate"/>
      <label for="message-text" class="col-form-label">Alegeți de câte ori pe zi:</label>
      <select id="select_dimineata">
         <option value="dimineata">dimineața</option>
         <option value="dupa-masa">după-masă</option>
         <option value="seara">seara</option>
         <option value="dimineata si dupa-masa">dimineața și după-masa</option>
         <option value="dimineata si seara">dimineața și seara</option>
         <option value="dupa-masa si seara">după-masa și seara</option>
         <option value="dimineata, dupa-masa si seara">dimineața, după-masa și seara</option>
      </select>
      <br />
      <br />
      <a type="button" id="adaugareListaRetete" class="btn btn-primary" onclick="addToList()"> Adăugare medicament</a>
      <br />
      <br />
      <div>
         <input hidden id="string_complet" name="string_complet"/>
         <ul id="listaMedicamente">
         </ul>
      </div>
   </fieldset>
   @*    
   <textarea class="form-control" type="text" id="input-retete-generate" name="retete_generate_consultatie"></textarea>
   *@
</div>
<div class="mb-3">
   <label  class="col-form-label">Data consultație:</label>
   <input class="form-control" type="date" id="input-data-consultatie" name="data_consultatie"/>
</div>
