@model Teleasis_website.Models.MedicModel
<div class="mb-3">
    <label for="recipient-name" class="col-form-label">Nume:</label>
    <input type="text" class="form-control" id="input-nume-medic" name="nume_medic"/>
</div>
<div class="mb-3">
    <label for="message-text" class="col-form-label">Prenume:</label>
    <input type="text" class="form-control" id="input-prenume-medic" name="prenume_medic"/>
</div>
<div class="mb-3">
    <label for="message-text" class="col-form-label">Cod Parafă:</label>
    <input type="text" class="form-control" id="input-cod-parafa" name="cod_parafa"/>
</div>
<div class="mb-3">
    <label for="message-text" class="col-form-label">Email:</label>
    <input type="email" class="form-control" id="input-email-medic" name="email_medic"/>
</div>
<div class="mb-3">
    <label for="message-text" class="col-form-label">Parola:</label>
    <input class="form-control" type="password" id="input-parola-medic" name="parola_medic"/>
</div>