@model Teleasis_website.Models.IngrijitorModel
<div class="mb-3">
    <label for="recipient-name" class="col-form-label">Nume:</label>
    <input type="text" class="form-control" id="input-nume-ingrijitor" name="nume_ingrijitor"/>
</div>
<div class="mb-3">
    <label for="message-text" class="col-form-label">Prenume:</label>
    <input type="text" class="form-control" id="input-prenume-ingrijitor" name="prenume_ingrijitor"/>
</div>
<div class="mb-3">
    <label for="message-text" class="col-form-label">Email:</label>
    <input type="email" class="form-control" id="input-email-ingrijitor" name="email_ingrijitor"/>
</div>
<div class="mb-3">
    <label for="message-text" class="col-form-label">Parola:</label>
    <input class="form-control" type="password" id="input-parola-ingrijitor" name="parola_ingrijitor"/>
</div>